<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Test 2</title>

</head>
<body>
  <div class="container my-5">
    <h1>Test 2: Animali in inglese</h1>
<hr>
<form method="POST" enctype="multipart/form-data">
<div class="domande d-flex flex-column align-items-center">
<div class="card shadow-lg text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Elefante</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault1" value="0" checked>
  <label class="form-check-label" for="flexRadioDefault1" name="1">
    Elepant
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="1" >
  <label class="form-check-label" for="flexRadioDefault2">
    Elefant
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault3">
    Elephant
  </label>
</div>
</div>
<div class="card shadow-lg text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Porcospino</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Porcospine
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Porcopine
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Porcupine
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Giraffa</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Giraff
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Giraffe
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Jiraffe
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Maiale</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Pig
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Pog
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Pug
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Tigre</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Tiger
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Taiger
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Tyger
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Cane</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Dog
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Doug
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Dag
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Delfino</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Dolphin
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Dalfin
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Delphin
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Gatto</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Gat
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Chet
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Cat
  </label>
</div>
</div>
</div>
<hr>
<div class="d-flex justify-content-center m-5">
  <button type="submit" class="row btn btn-primary">Manda i tuoi risultati</button>
</div>
</form>
</div>
</body>
</html>