<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Test 3</title>

</head>
<body>
  <div class="container my-5">
    <h1>Test 3: Tedesco</h1>
<hr>
<form method="POST" enctype="multipart/form-data">
<div class="domande d-flex flex-column align-items-center">
<div class="card shadow-lg text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Essere</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault1" value="0" checked>
  <label class="form-check-label" for="flexRadioDefault1" name="1">
    wurden
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="1" >
  <label class="form-check-label" for="flexRadioDefault2">
    werden
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault3">
    sein
  </label>
</div>
</div>
<div class="card shadow-lg text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Mangiare</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    esen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    fressen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    essen
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Dormire</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    shlafen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    schlafen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    zeigen
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Sdraiarsi</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    liegen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    legen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    schliessen
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Sparare</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    schiessen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    schliessen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    schlossen
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Vedere</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    sehen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    sohen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    schenen
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Chiamare</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    rufen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    rifen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    raufen
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Tirare</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    zihenen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    zohen
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    ziehen
  </label>
</div>
</div>
</div>
<hr>
<div class="d-flex justify-content-center m-5">
  <button type="submit" class="row btn btn-primary">Manda i tuoi risultati</button>
</div>
</form>
</div>
</body>
</html>