<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Test 1</title>

</head>
<body>
  <div class="container my-5">
    <h1>Test 3: Tedesco</h1>
<hr>
<form method="POST" enctype="multipart/form-data">
<div class="domande d-flex flex-column align-items-center">
<div class="card shadow-lg text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Quale è una variabile?</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault1" value="0" checked>
  <label class="form-check-label" for="flexRadioDefault1" name="1">
    str(x)
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="1" >
  <label class="form-check-label" for="flexRadioDefault2">
    def x():
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault3">
    x = 5
  </label>
</div>
</div>
<div class="card shadow-lg text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Come si definisce una funzione?</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    func aggiungi(x, y):
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    class aggiungi(x, y):
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    def aggiungi(x, y):
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Seleziona il risultato corretto:</h2>
<p class="lead">x="2" e y="5"</p>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    x + y = 10
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    x + y = 25
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    x + y = "25"
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Definisci un numero intero</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    int()
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    float()
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    str()
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Come si definisce il costruttore in una classe?</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    def __init__(self):
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    def _init_(self):
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    def __init__():
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Seleziona il decoratore di funzione:</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    @method
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    :method
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="6" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    !method
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Come si chiama una funzione che si ripete?</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    Funzione recursiva
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    Funzione ripetuta
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="7" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    Funzione riflessa
  </label>
</div>
</div>
<div class="card text-white bg-dark my-5 text-center p-3 w-50 row">
<h2>Con quale formato vengono salvati i file Python?</h2>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault1" value="0">
  <label class="form-check-label" for="flexRadioDefault1">
    .pyx
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault2" value="1">
  <label class="form-check-label" for="flexRadioDefault2">
    .pyt
  </label>
</div>
<div class="form-check my-2">
  <input class="form-check-input" type="radio" name="8" id="flexRadioDefault2" value="2">
  <label class="form-check-label" for="flexRadioDefault2">
    .py
  </label>
</div>
</div>
</div>
<hr>
<div class="d-flex justify-content-center m-5">
  <button type="submit" class="row btn btn-primary">Manda i tuoi risultati</button>
</div>
</form>
</div>
</body>
</html>